.bd-navbar {
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.btn-bd-download {
    font-weight: 600;
    color: #ffe484;
    border-color: #ffe484;
}

.btn-bd-download:active, .btn-bd-download:hover {
    color: #2a2730;
    background-color: #ffe484;
    border-color: #ffe484;
}

.tab-content{
    padding: 0 50px;
}

.nav-tabs{
    background:white;
    position:sticky;
    top:4rem;
}

#myTab{
    z-index: 4;
}

.teste{
    height: 18em;
}

.fill {
    align-items: center;
    justify-content: space-around;
    font-size: 15em;

   background-image: url(https://2.bp.blogspot.com/-pKFE-5ysj68/TkjG9DvLB4I/AAAAAAAAEoM/rDKiHkvbC8o/s1600/Abstract_Wallpaper_8.jpg);
   -webkit-background-clip: text;  
   background-clip: text;
   color: transparent;
}