body{
    font-family: 'Poppins',sans-serif;
    background-image: url(../imagens/dots.png);
    background-color: #171941;
    background-repeat: repeat;
    background-size: contain;
}

.post-box{
    border: 0px;
}

.list-group-item{
    padding: 0px;
}

.navbar{
    padding: 0 1rem;
}

.bd-navbar {
    min-height: 3rem;
    background-color: #171941;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

#more{
    display: none;
}

.btn-bd-download {
    font-weight: 600;
    color: #e14eca;
    border-color: #e14eca;
}
.fa-star{
    color: #e14eca;
}

.fa-star:hover{
    font-weight: 600;
    color: #e14eca;
}

.btn-bd-download:active, .btn-bd-download:hover {
    color: #2a2730;
    background-color: #e14eca;
    border-color: #e14eca;
}

.tab-content{
    padding: 0 50px;
}

.nav-tabs{
    background:white;
    position:sticky;
    top:3rem;
}

#myTab{
    z-index: 4;
}

.painel{
    height: 26em;
    padding: 50px 0;
}

.ods1-bg{
    background: #e63e3b;
}

.ods1-color{
    color: #e63e3b;
}