<div class="card" *ngFor="let post of posts | async">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <div class="d-flex row">
          <div class="col-5 col-md-2 my-2">
<!--            <img src="../../assets/img/profilepic2.jpg" class="rounded-circle mx-auto d-block"-->
<!--                 alt="Foto de perfil" width="40px">-->
          </div>
          <div class="col-auto align-self-center pt-3">
            <h5 class="card-title"></h5>
          </div>
        </div>
      </h5>
      <p>{{ post.texto }}</p>
      <button (click)="deletarPost(post.id)" class="btn btn-primary">Deletar</button>
      <p class="card-text">
        <small><i class="fas fa-star"></i>
          <a href="" class="card-link">1</a></small>
      </p>
    </div>
  </div>
</div>
