<div *ngIf="token.getRoleType() === 'user'">
  <hr/>
  <div *ngIf="user">
    <div>
      <label><strong>Usuário: </strong> @Usuário</label> {{ user.username }}
    </div>
    <div>
      <label><strong>Nome: </strong>Usuário</label> {{ user.name }}
    </div>
    <div>
      <label><strong>Sobrenome: </strong> Novo</label> {{ user.sobrenome }}
    </div>
    <div>
      <label><strong>E-mail: </strong>usuario@email.com</label> {{ user.email }}
    </div>
    <div>
      <label><strong>Data de Nascimento: </strong>12/07/1990</label> {{ user.nascimento }}
    </div>
  </div>
  <a routerLink='/config'>
  <button class="btn btn-info" style="margin-left: 20px;" >Configurações</button>
  </a>
</div>
