body{
  font-family: 'Poppins',sans-serif;
}

.bg-star{
  background-image: url(../../../assets/img/dots.png);
  background-color: #171941;
  background-repeat: repeat;
  background-size: cover;
}
#sair{
  margin: 0px;
}
a{
  color: #e63e3b;
}

.bg-primary, .btn-primary, .nav-pills .nav-link.active{
  background-color: #e63e3b;
}

.btn-primary{
  border-color: #e63e3b;
}

.nav-tabs .nav-link.active{
  border-color: #e63e3b;
}

textarea.form-control{
  border: 1px solid rgba(230, 62, 59,.6);
}

.card{
  border: 1px solid rgba(230, 62, 59,.6);
}

.post-box{
  border: 0px;
}

.list-group-item{
  padding: 0px;
}

.navbar{
  padding: 0 1rem;
}

.bd-navbar {
  min-height: 4rem;
}

#more{
  display: none;
}

#footer{
  border-top: 2px solid #435DB5;
  padding: 0px;
  height: 4em;
}

#myTab{
  z-index: 4;
}

.btn-bd-download {
  font-weight: 600;
  color: #e14eca;
  border-color: #e14eca;
}
.fa-star{
  color: #e14eca;
}

.fa-star:hover{
  font-weight: 600;
  color: #e14eca;
}

.btn-bd-download:active, .btn-bd-download:hover {
  color: #2a2730;
  background-color: #e14eca;
  border-color: #e14eca;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(226, 82, 202,0.75);
}

.tab-content{
  padding: 0 50px;
}

.nav-tabs{
  position:sticky;
  top:4rem;
}

.painel{
  height: 26em;
  padding: 50px 0;
}

/* teste de animação */
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}


@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
