body{
    font-family: 'Poppins',sans-serif;
    display: block;
    background-size: contain;
    background-color: #171941;
    background-image: url(../img/dots.png);
    overflow: auto;
    background-attachment: fixed;
        /* margin: initial;
    font-size: initial;
    font-weight: initial;
    line-height: initial;
    color: initial;
    text-align: initial;
    background: initial;
    height: initial;
    overflow: initial;
    justify-content: initial;
    align-items: initial; */
}

hr{
    border-top: 1px solid rgba(0255, 0255, 255, 0.1);
    width: 90%;
}

.lead{
    margin-bottom: 5px;
    font-size: 1rem;
}

.bg-star{
    background-image: url(../img/dots.png);
    background-color: #171941;
    background-repeat: repeat;
    background-size: cover;
}

.bd-navbar {
    min-height: 4rem;
}

.navbar{
    padding: 0 1rem;
}

.adj-vh{
    height: 100vh;
}

.adj-vw{
    width:100vw;
}

.night{
    top: -5vh;
    left: -15vw;
    width: initial;
    height: initial;
}

.mainTitle {
    font-size: 120px;
    margin-left: 12vw;
    margin-top: 30vh;
}

#footer{
    border-top: 2px solid #435DB5;
    padding: 0px;
    height: 4em;
}
