<body>
<header class="navbar navbar-dark navbar-expand sticky-top flex-column flex-md-row bd-navbar bg-star" style="
    border-bottom: solid 1px rgba(67, 93, 181,0.7);">
  <a class="navbar-brand mr-0 mr-md-2" href="#" aria-label="Feed">
    <i class="far fa-star"></i>
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="https://nacoesunidas.org/pos2015/" target="_blank">Sobre os ODS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#sobrenos" rel="noopener">Sobre Star</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contato" rel="noopener">Contato</a>
      </li>
    </ul>
  </div>
  <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-auto" href=""><i
    class="fas fa-sign-out-alt"></i></a>
</header>

  <div class="row m-0">
    <div class="col-12 col-md-6 col-lg-9 adj-vh">
      <h1 class="mainTitle">Star✦</h1>

      <div class="night">
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 adj-vh p-0">

      <!-- Formulário -->
      <div class="index-page">
        <!-- Quadrados que precisam virar ESTRELAS -->
        <div class="page-header header-filter">
          <div class="squares square1"></div>
          <div class="squares square2"></div>
          <div class="squares square3"></div>
          <div class="squares square4"></div>
          <div class="squares square5"></div>
          <div class="squares square6"></div>
          <div class="squares square7"></div>
          <!-- Mensagem de inicio -->
          <div class="container">
            <div class="content-center brand p-4">
              <h2>Star presente.</h2>
              <h4 class="mb-5">
                <div>Um novo conceito</div>
                <div>de Rede Social</div>
              </h4>
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="row">
                  <div class="col">
                    <label for="email">Usuário</label>
                    <input type="email" class="form-control" placeholder="Usuário" id="email" id="username" name="username"
                           [(ngModel)]="form.username" #username="ngModel"
                           required/>
                    <div *ngIf="f.submitted && username.invalid">
                      <div *ngIf="username.errors.required"><span class="error">Por favor, preencha o campo usuário</span></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="password"><strong>Senha</strong></label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="Senha"
                             [(ngModel)]="form.password" #password="ngModel" required minlength="8"/>
                      <div *ngIf="f.submitted && password.invalid">
                        <div *ngIf="password.errors.required"><span class="error">Por favor, preencha o campo senha</span></div>
                        <div *ngIf="password.errors.minlength"><span class="error">O campo senha deve ter mais que 8 caracteres</span></div>
                      </div>
                    </div>
                </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <br>
                    <a href="/senha" target="_blank">Esqueci a
                      Senha</a>
                  </div>
                  <div class="col">
                    <button class="btn btn-primary btn-neutral">Entrar</button>
                    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                      <span class="error">Falha no login: {{errorMessage}}</span>
                    </div>
                  </div>
                  <br>
                </div>
                <div class="row">
                  <div class="col-12 btncadastrar">
                    <a routerLink='/signup'>
                      <button class="btn btn-primary btn-danger" id="btncadastrar">Cadastrar</button></a>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Fim do formulário -->

    </div>


    <!-- div da row encerra abaixo-->
  </div>


<section class="adj-vh p-5" style="background-color:rgba(0,0,0,0.1)">
  <h1 class="display-1" id="sobrenos">Sobre a Star</h1>
  <p class="lead">Projeto Integrador final do curso de desenvolvimento Web Full Stack promovido pela Generation Brasil. Agosto/2019</p>
  <hr class="my-2" style="width: 100%;">
  <p style="font-size: 1.4em;">Nosso projeto é uma rede social que pretende transformar engajamento digital em ações
    sociais. O público alvo são jovens que têm interesse em ajudar causas sociais, mas sentem
    que existe alguma distância dessa possibilidade, seja por não trabalharem e não receberem um
    salário para contribuir financeiramente, seja por não conhecerem iniciativas onde possam
    contribuir. A ideia da nossa rede é oferecer ax usuárix a possibilidade de converter as
    reações (curtidas, amei's etc.) que recebe nos seus posts em pontos que podem ser doados
    para diversas causas sociais. Tomamos como referência de causas sociais os 17 Objetivos de
    Desenvolvimento Sustentável (ODS) da ONU. Assim, o tempo que é gasto em redes sociais não é
    desperdiçado, podendo ser utilizado para contribuir para melhorar a realidade.</p>

  <h2 class="display-1">Quem somos:</h2>
  <div class="row d-flex justify-content-around">
    <div class="col-12 col-md-4 col-lg-2">
      <div class="card">
        <img src="../../assets/img/profilepic1.jpg" alt="profile-pic1" class="card-img-top">
        <div class="card-body">
          <div class="card-title">Vitória Borotto</div>
          <div class="card-body"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
      <div class="card">
        <img src="../../assets/img/profilepic2.jpg" alt="profile-pic2" class="card-img-top">
        <div class="card-body">
          <div class="card-title">Liliane Martins</div>
          <div class="card-body"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
      <div class="card">
        <img src="../../assets/img/profilepic3.jpg" alt="profile-pic3" class="card-img-top">
        <div class="card-body">
          <div class="card-title">Rodrigo Gregoldo</div>
          <div class="card-body"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
      <div class="card">
        <img src="../../assets/img/profilepic4.jpg" alt="profile-pic4" class="card-img-top">
        <div class="card-body">
          <div class="card-title">Gilberto Moreira</div>
          <div class="card-body"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
      <div class="card">
        <img src="../../assets/img/profilepic5.jpg" alt="profile-pic5" class="card-img-top">
        <div class="card-body">
          <div class="card-title">Beatriz Senário</div>
          <div class="card-body"></div>
        </div>
      </div>
    </div>
  </div>

</section>

  <section class="adj-vh p-5">

    <h2 class="display-1" id="contato">Contato</h2>

    <div class="container">
      <form action="">
        <div class="form-row">
          <div class="col col-md-6">
            <div class="form-row">
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Jamais compartilharemos seu e-mail
                  sem autorização.</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="contatoNome">Seu nome</label>
                <input type="text" class="form-control" placeholder="First name" id="contatoNome">
              </div>

            </div>
          </div>



          <div class="col col-md-6">
            <div class="form-group">
              <label for="msgDeContato">Mensagem</label>
              <textarea class="form-control" id="msgDeContato" rows="10"
                        placeholder="Deixe seu comentário e/ou sugestão :)"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12 btncadastrar">
              <a href="../cadastro/cadastro.html"><button class="btn btn-primary btn-danger"
                                                          id="btncadastrar1">Enviar</button></a>
            </div>
          </div>

        </div>
      </form>
    </div>
  </section>




</body>




