body {
background-color: #00001a;
}

.btn {
    background-color: blueviolet;
}

.h3 {
    color: white;   
}

.control-label {
    color: white;   
}

.radio {
    color: white;
}

.termos{
    color: white;
}

.container {
   align-items: center;
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
    vertical-align:middle;
}